.interfaceBox {
    border: 3px solid grey;
    padding: 20px;
    margin: 5px;
}

.centered {
    margin: auto 0;
}

.top-margin {
    margin-top: 20px;
}

.bottom-margin {
    margin-bottom: 20px;
}

#album-cover {
    border: solid 2px grey;
}